<?xml version="1.0" encoding="UTF-8"?>
<plugin title="smartbar">

    <overlays>
        <overlay id="startup.smartbar">
            <toolbar id="mainToolbar">
                <textbox id="smartbar-input" textlength="15" placeholder="Search..."/>
                <toolbarbutton
                        id="smartbarButton"
                        image="image.png"
                        onclick="mainToolbarHandler.openUrl('MyPlugin','MyPlugin','content/myplugin')"
                        tooltiptext="${openEllipsis}"
                        insertafter="newAnalysisButton"/>
            </toolbar>
        </overlay>
    </overlays>
  

    <static-paths>
      <static-path url="/smartbar-res" localFolder="resources"/>
    </static-paths>  
    
    <external-resources>
        <file context="mantle">content/smartbar-res/script/js/smartbar.js</file>
    </external-resources>

</plugin>